/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");

body {
	font-family: "Epilogue", sans-serif;
	background-color: #28293E;
	color: #ffffff;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1396px;
	width: 100%;
	padding-inline: 15px;
	margin-inline: auto;
}