/* Reset styles */
@import url("reset.css");
/* Common styles */
@import url("common.css");

body {
	font-family: "Epilogue", sans-serif;
	background-color: #28293E;
}

/* Common styles */
.homework {
	padding-block: 90px;
	overflow: hidden;
}
@media (min-width: 1100.98px){
	.homework {
		padding: 92px 0px 176px 0px;
	}
}
/* Portfolio styles */

.homework__portfolio {
	padding-block-end: 95px;
}
@media (max-width: 767.98px) {
	.homework__portfolio {
		padding-block-end: 69px;
	}
}
.portfolio__header-block {
	animation: animation-appearance 0.7s linear;
}
.portfolio__header-block:not(:last-child) {
	margin-block-end: 44px;
}
@media (max-width: 1100.98px){
	.portfolio__header-block:not(:last-child) {
		margin-block-end: 35px;
	}
}
.portfolio__menu {
	display: flex;
	flex-wrap: wrap;
	column-gap: 60px;
	row-gap: 5px;
	justify-content: center;
	align-items: center;
	opacity: 0;
	animation: animation-appearance 0.7s linear 0.3s forwards;
}
.portfolio__menu:not(:last-child) {
	margin-block-end: 68px;
}
@media (max-width: 1100.98px) {
	.portfolio__menu:not(:last-child) {
		margin-block-end: 30px;
	}
}
@media (max-width: 767.98px) {
	.portfolio__menu {
		column-gap: 30px;
	}
}
@media (max-width: 554.98px) {
	.portfolio__menu {
		display: none;
	}
}
.portfolio__item-menu {
	text-align: center;
}
.portfolio__link {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
	transition: all 0.3s;
}
.portfolio__link sup {
	transform: translateY(-9px);
	display: inline-block;
}
.portfolio__link:active, .portfolio__link:hover, .portfolio__link--active {
	color: #FFF;
}
.portfolio__body {
	opacity: 0;
	position: relative;
	animation: animation-appearance 0.7s linear 0.3s forwards;
}
.portfolio__body:not(:last-child) {
	margin-block-end: 44px;
}
.portfolio__select {
	appearance: none;
	font-family: "Epilogue";
	width: 100%;
	border-radius: 6px;
	padding: 9px 16px;
	color: rgba(57, 20, 0, 0.64);
	line-height: 2;
	z-index: 1;
}
.portfolio__body::after {
	content: '▼';
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	color: #EF6D58;
}
.portfolio__select:focus-visible {
	outline: 3px solid #EF6D58;
}
@media (min-width: 554.98px) {
	.portfolio__body {
		display: none;
	}
}
.portfolio__items {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	opacity: 0;
	transform: translateY(10px);
	animation: translate-appearance 0.7s linear 0.5s forwards;
}
.portfolio__items:not(:last-child) {
	margin-block-end: 64px;
}
@media (max-width: 767.98px) {
	.portfolio__items:not(:last-child) {
		margin-block-end: 48px;
	}
	.portfolio__items {
		gap: 15px;
	}
}
@media (max-width: 991.98px) {
	.portfolio__items {
		gap: 15px;
	}
}
.portfolio__item {
	position: relative;
	flex: 1 0 40%;
	aspect-ratio: 470/416;
	border-radius: 8px;
	overflow: hidden;
}
@media (max-width: 554.98px) {
	.portfolio__item {
		flex: 1 0 100%;
		aspect-ratio: 329/416;
	}
}
@media (max-width: 767.98px){
	.portfolio__item {
		aspect-ratio: 329/416;
	}
}
@media (min-width: 991.98px) {
	.portfolio__item:nth-child(4n + 2), .portfolio__item:nth-child(4n + 3) {
		flex: 1 1 56.5%;
		aspect-ratio: 670/416;
	}
}
.portfolio__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.portfolio__picture {
	width: 100%;
	height: 100%;
}
.portfolio__item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	opacity: 0.3181;
	background-color: #5C2000;
	transition: all 0.3s;
}
.portfolio__item:hover::before {
	transform: translateY(100%);
}
.portfolio__content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start; 
	gap: 24px;
	padding: 51px 48px;
	transform: translateY(-100%);
}
@media (max-width: 767.98px) {
	.portfolio__content {
		padding: 51px 28px;
	}
}
.portfolio__label {
	text-align: center;
	padding: 5px 16px;
	background-color: #FFF;
	border-radius: 19px;
	color: #391400;
	line-height: 2;
	transition: all 0.3s;
}
.portfolio__label:hover {
	background-color: #391400;
	color: #FFFFFF;
}
.portfolio__title {
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
	text-transform: capitalize;
	transition: all 0.3s;
}
@media (max-width: 651.98px) {
	.portfolio__title {
		font-size: 32px;
	}
	
}
.portfolio__title:hover {
	text-shadow: 0px 0px 5px #391400;
}
.portfolio__button {
	text-align: center;
}
.slider-arrows {
	display: flex;
	gap: 16px;
}
.slider-arrows__arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	aspect-ratio: 1;
	border: 1px solid #3A3C56;
	border-radius: 50%;
	transition: all 0.3s;
}
.slider-arrows__arrow:hover {
	background-color: #EF6D58;
}
.slider-arrows__arrow--right {
	transform: rotate(180deg);
}
@media (max-width: 767.98px){
	.slider-arrows {
		display: none;
	}
}
.slider-controls {
	display: flex;
	justify-content: center;
	column-gap: 20px;
}
.slider-controls__control {
	width: 12px;
	aspect-ratio: 1;
	border: 1px solid #3A3C56;
	border-radius: 50%;
	transition: all 0.3s;
}
.slider-controls__control--active {
	background-color: #EF6D58;
	border: 1px solid #EF6D58;
}
.slider-controls__control:hover {
	border: 1px solid #EF6D58;
	cursor: pointer;
}

/* Contact us styles */

.homework__contact-us {
	padding-block-start: 95px;
	padding-block-end: 70px;
}
.contact-us__items {
	padding-block-start: 20px;
	border-radius: 6px;
	padding-inline: 100px 83px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 30px;
	align-items: center;
	background-color: #FDF0E9;
}
@media (max-width: 1100.98px) {
	.contact-us__items {
		padding-inline: 28px;
	}
}
.contact-us__item {
	flex: 1 1 300px;
}
.contact-us__item--content {
	flex: 1 1 250px;
}
.contact-us__item--content > * {
	margin-block-end: 18px;
}
.contact-us__item--content > *:last-child {
	margin-block-end: 0px;
}
.contact-us__icon {
	margin-block-start: -150px;
	position: relative;
	max-width: 148px;
	width: 100%;
	aspect-ratio: 1;
}
@media (max-width: 965.98px) {
	.contact-us__icon {
		margin-block-start: -90px;
	}
}
.contact-us__icon::before {
	content: "";
	max-width: 148px;
	width: 100%;
	aspect-ratio: 1;
	background: url("../img/contact_us/star_icon.svg") 0 0 / contain no-repeat;
	animation: rotate 10s linear infinite;
}
.contact-us__icon img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 21.621622%; /* 32/148 */
	aspect-ratio: 1;
}
.contact-us__label {
	color: #EF6D58;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
	transition: all 0.3s;
}
.contact-us__label:hover {
	color: #28293E;
}
.contact-us__title {
	color: #391400;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
}
.contact-us__card {
	position: relative;
	z-index: 1;
	border-radius: 6px;
	background: #FFF;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
	max-width: 338px;
	width: 100%;
	aspect-ratio: 338 / 176;
}
@media (max-width: 965.98px) {
	.contact-us__card  {
		justify-self: flex-end;
	}
}
@media (max-width: 650.98px) {
	.contact-us__card  {
		justify-self: center;
	}
}
.contact-us__card::before, .contact-us__card::after {
	content: "";
	position: absolute;
	border-radius: 6px;
	background-color: #FFF;
	z-index: -1;
	box-shadow: 0px 24px 48px 0px rgba(85, 30, 0, 0.04);
}
.contact-us__card::after {
	top: 4.545455%; /* 8/176 */
	left: 4.733728%; /* 16/338 */
	max-width: 90.5%;
	width: 100%;
	aspect-ratio: 306 / 176;
}
.contact-us__card::before {
	top: 9.090909%; /* 16/176 */
	left: 9.467456%; /* 32/338 */
	max-width: 81%;
	width: 100%;
	aspect-ratio: 274 / 176;
}
.contact-us__card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 6px;
}
.contact-us__person {
	position: relative;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	max-width: 239px;
	width: 100%;
	aspect-ratio: 239 / 396;
}
@media (max-width: 434.98px) {
	.contact-us__person {
		max-width: 191px;
	}
}
@media (min-width: 965.98px) {
	.contact-us__person {
		margin-block-start: -60px;
	}
}
.contact-us__person img {
	width: 100%;
	height: 100%;
}
.contact-us__person::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 50%;
	left: -18.666667%; /* -56/300 */
	transform: translateY(-50%);
	max-width: 282px;
	min-width: 226px;
	width: 100%;
	aspect-ratio: 282 / 242;
	background: url("../img/contact_us/cloud_icon.svg") 0 0 / cover no-repeat;
}
@media (max-width: 434.98px) {
	.contact-us__person::before {
		left: -10%;
	}
}
@media (min-width: 434.98px) {
	.contact-us__person::before {
		animation: translate 5s linear infinite;
	}
}
/* Events styles */

.events {
	padding-block: 70px;
}
@media (max-width: 767.98px) {
	.events {
		padding-block: 60px;
	}
}
.events__container > * {
	margin-block-end: 64px;
}
@media (max-width: 767.98px) {
	.events__container > * {
		margin-block-end: 35px;
	} 
}
.events__container > *:last-child {
	margin-block-end: 0px;
}
.events__items {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.events__item {
	flex: 1 0 30%;
	min-width: 290px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	border-radius: 6px;
	border: 1px solid #3A3C56;
	transition: all 0.3s;
}
.events__item:hover {
	box-shadow: 0 0 5px #ef6c5855;
}
.item-events__header {
	padding-block-end: 36px;
	border-block-end: 1px solid #3A3C56;
}
.item-events__header:not(:last-child) {
	margin-block-end: 19px;
}
.item-events__data {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}
.item-events__number {
	font-size: 72px;
	font-weight: 800;
	line-height: 1.1;
	letter-spacing: -2px;
}
.item-events__details {
	display: flex;
	flex-direction: column;
	gap: 3px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
}
.item-events__time {
	line-height: 2;
	display: flex;
	min-height: 20px;
	align-items: center;
	gap: 8px;
}
.item-events__time::before {
	content: "";
	flex: 0 0 20px;
	aspect-ratio: 1;
	background: url("../img/events/clock_icon.svg") center / 16px no-repeat;
}
.item-events__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
	transition: all 0.3s;
}
.item-events__title:hover {
	color: #EF6D58;
}
.item-events__title:not(:last-child) {
	margin-block-end: 19px;
}
.item-events__text {
	flex-grow: 1;
}
.item-events__text p  {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
}
.item-events__text p:not(:last-child) {
	margin-block-end: 10px;
}
.item-events__text:not(:last-child) {
	margin-block-end: 26px;
}
.item-events__link {
	line-height: 2;
	transition: all 0.3s;
}
.item-events__link:hover {
	color: #EF6D58;
}
.events__button {
	text-align: center;
}

/* Our team styles */

.homework__our-team {
	padding-block-start: 70px;
	padding-block-end: 90px;
}
@media (max-width: 767.98px) {
	.homework__our-team {
		padding-block-start: 60px;
		padding-block-end: 55px;
	}
}
.our-team__body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	gap: 30px;
}
.our-team__body:not(:last-child) {
	margin-block-end: 64px;
}
.header-block--left {
	text-align: left;
}
.our-team__items {
	display: flex;
	gap: 30px;
}
.our-team__items:not(:last-child) {
	margin-block-end: 52px;
}
@media (max-width: 767.98px) {
	.our-team__body:not(:last-child) {
		margin-block-end: 35px;
	}
	.our-team__items:not(:last-child) {
		margin-block-end: 35px;
	}
}
.our-team__item {
	flex: 0 0 270px;
	overflow: hidden;
}
.our-team__image {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	max-width: 270px;
	width: 100%;
	aspect-ratio: 1;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #3A3C56;
}
.our-team__image:not(:last-child) {
	margin-block-end: 26px;
}
.our-team__picture {
	width: 100%;
	height: 85.185185%; /* 230/270 */
	object-fit: contain;
}
.our-team__info > * {
	margin-block-end: 3px;
}
.our-team__info > *:last-child {
	margin-block-end: 0px;
}
.our-team__name {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
}
.our-team__position {
	color: rgba(255, 255, 255, 0.64);
	line-height: 2;
}

/* Founder words styles */

.homework__founder-words {
	padding-block-start: 90px;
}
@media (max-width: 767.98px) {
	.homework__founder-words {
		padding-block-start: 55px;
	}
}
.founder-words__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap;
}
.founder-words__img {
	flex: 1 0 100%;
}
@media (min-width: 991.98px){
	.founder-words__img {
		flex-basis: 48.7%;
	}
}
.founder-words__picture {
	width: 100%;
	aspect-ratio: 570 / 448;
	object-position: center;
	object-fit: cover;
	border-radius: 8px;
}
.founder-words__content {
	flex: 1 0 40%;
}
.founder-words__label {
	position: relative;
	z-index: 3;
	color: #EF6D58;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.founder-words__label:not(:last-child) {
	margin-block-end: 33px;
}
.founder-words__quote {
	position: relative;
	z-index: 1;
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
}
.founder-words__quote::before {
	content: "";
	position: absolute;
	top: -29.015544%; /* -56/193 */
	right: 9.787234%; /* 46/470 */
	z-index: -1;
	width: 100px;
	max-width: 100%;
	aspect-ratio: 100 / 80;
	background: url("../img/founder_words/quote_icon.svg") 0 0 / 100px no-repeat;
	animation: translate 5s linear infinite;
}
.founder-words__quote:not(:last-child) {
	margin-block-end: 44px;
}
@media (max-width: 767.98px) {
	.founder-words__quote {
		font-size: 24px;
	}
	.founder-words__quote:not(:last-child) {
		margin-block-end: 23px;
	}
}
.founder-words__name {
	font-size: 20px;
	line-height: 1.6;
}
.founder-words__name:not(:last-child) {
	margin-block-end: 6px;
}
.founder-words__position {
	color: rgba(255, 255, 255, 0.64);
	font-size: 14px;
	line-height: 1.7;
}
