@import url("reset.css");

/* Найнижчий пріоритет, все нижче перезапише цей стиль */
* {
    color: darkcyan;
}


/* Стилізація заголовків різними способами */
h2 {
    color: rgb(116, 24, 116); /* За селектором тегу*/
}
.title { /* За селектором класу */
    color: rgb(27, 215, 232);
}
#modern-trend__title { /* За селектором id */
    color: rgb(0, 9, 130);
}
.intro .title { /* Усі .title, що всередині .intro */
    color: lawngreen;
}
#classic-dishes h2 { /* Усі h2, що всередині тегу з id #classic-dishes */
    color: gold;
}
h2.gastro-festivals__title { /* Усі h2 з класом .gastro-festivals__title */
    color: rgb(113, 102, 130); 
}


/* Стилізація параграфів різними способами */
h2 + p { /* Перший p, що йде одразу за h2 та знаходиться на тому ж рівні вкладеності */
    color: rgb(189, 88, 139);
}
.intro__title ~ .text { /* Усі теги з класом .text, які знаходяться далі по коду після об'єктів з .intro__title та мають той самий рівень вкладеності */
    color: yellowgreen;
}
p.classic-dishes__text {/* Усі p, з класом .classic-dishes__text */
    color: salmon;
}
.modern-trend__title + p { /* Перший тег p, який знаходиься беспосередньо далі по коду після об'єкту з класом .modern-trend__title на тому ж самому рівні вкладеності */
    color: darkolivegreen;
}
.local-dishes__title ~ p { /* Усі теги p, які знаходяться далі по коду після об'єктів з .local-dishes__title та мають той самий рівень вкладеності */
    color: rgb(104, 51, 184);
}


/* Стилізація списків різними способами */
.classic-dishes__list li { /* Усі li, що всередині .classic-dishes__list */
    color: hotpink;
}
.modern-trend__list * { /* Все, що знаходиться всередині об'єктів з класом .modern-trend__list */
    color: rgb(243, 175, 38);
}
.local-dishes__text + .local-dishes__list { /* Перший елемент з класом .local-dishes__list, який знаходиться беспосередньо далі по коду після об'єкту з класом .local-dishes__text на тому ж самому рівні вкладеності */
    color: rgb(168, 72, 4); 
}
.gastro-festivals__list, .gastro-festivals__item { /* І елементи з класом .gastro-festivals__list, і елементи з класом .gastro-festivals__item */
    color: darkslateblue;
}


/* Стилізація span різними способами */
li > span { /* Усі span, які є дочірніми елементами li на першому рівні вкладеності */
    color: navy;
}
[title^="Назва"] { /* Усі span, в яких значення атрибуту title починається на фрагмент "Назва" */
    color: rgb(17, 171, 15);
}
[title$="смаколик"] { /* Усі span, в яких значення атрибуту title закінчується на фрагмент "смаколик" */
    color: rgb(169, 255, 39);
}
#gastro-festivals span { /* Усі span, які знаходяться всередині тегу з id #gastro-festivals */
    color: tomato;
}