/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+3:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");

/* Обнулення стилів */
@import url("reset.css");

/* Загальні стилі */
body {
	font-family: "Source Sans 3", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	background-color: #E3F5E0;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
[class$="__container"] {
	max-width: 1230px;
	padding-inline: 15px;
	margin-inline: auto;
}
.title {
	color: #095D4D;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
}
.subtitle {
	font-size: 24px;
	font-weight: 700;
	color: #354B2F;
	text-align: center;
}
.main__container {
	padding-block: 50px;
}
[class^="main__"]:not(:last-child) {
	margin-block-end: 20px;
}

/* Стилі для header */

.header {
	background-color: #8bbfb5;
	padding-block-end: 30px;
}
.header__container > * {
	margin-block-end: 15px;
}
.header__container > *:last-child {
	margin-block-end: 0px;
}
.header__title {
	font-size: 34px;
}
.menu {
	max-width: 700px;
	padding: 20px;
	background-color: #4fbba6;
	border-radius: 10%;
	color: #122a0c;
}
.menu__item a {
	background: url("../img/check_icon.svg") 0 3px / 20px no-repeat;
	padding-inline-start: 30px;
	min-height: 25px;
}
.menu__item a:hover {
	background: url("../img/check_icon_hover.svg") 0 3px / 20px no-repeat;
	text-decoration: underline;
	color: #3c0126;
}
.header__menu > * {
	margin-block-end: 10px;
}
.header__menu > *:last-child {
	margin-block-end: 0px;
}

/* Стилі для блоку "Основні поняття" */

.main__general > * {
	margin-block-end: 10px;
}
.main__general > *:last-child {
	margin-block-end: 0px;
}
.items {
	font-size: 0;
	margin-inline: -5px;
}
.item {
	display: inline-block;
	width: 33.333%;
	padding: 5px;
	font-size: 18px;
	vertical-align: top;
}
.content-item {
	background-color: #eceed367;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
}
.item__content > * {
	margin-block-end: 10px;
}
.item__content > *:last-child {
	margin-block-end: 0px;
}
.content-item__text--green {
	color: #146743;
}
.content-item__text--purple {
	color: #363033;
}
.content-item__text--blue {
	color: #02042c;
}
.content-item__text--red {
	color: #4d0303;
}
.content-item__text {
	padding-inline-start: 25px;
	background: url("../img/arrow_right_icon.png") 0 0 / 20px no-repeat;
	min-height: 20px;
}
.content-item img {
	width: 100%;
	border-radius: 15px;
}


.portfolio__title:not(:last-child) {
	margin-block-end: 10px;
}


/* Стилі для блоку "Приклади розповсюджених назв класів по методології БЕМ" */

.main__names > *, .names__body > * {
	margin-block-end: 10px;
}
.main__names > *:last-child, .names__body > *:last-child {
	margin-block-end: 0px;
}
.names__items {
	background-color: #eceed367;
	font-size: 0;
	margin-inline: -5px;
	text-align: center;
	border: 1px solid #3b1f2b34;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
}
.names__item div {
	display: inline-block;
	width: 20%;
	font-size: 18px;
	padding: 5px;
}
.names__item:not(:last-child) {
	border-bottom: 1px solid #3b1f2b34;
}
.names__item div:not(:last-child) {
	border-right: 1px solid #3b1f2b34;
}
.names__items .names__item:first-child {
	font-weight: 700;
	color: #3B1F2B;
}



.portfolio {
	font-family: "Epilogue", sans-serif;
	background-color: #FDF0E9;
}
.companies {
	padding-block: 73px;
	border-block-end: 1px solid #F3D1BF;
}

.companies__image {
	display: inline-block;
}
.companies__image img {
	width: 100%;
}
.companies__image:not(:last-child) {
	margin-inline-end: 140px;
}
.portfolio__about {}
.about {
	padding-block-start: 100px;
	padding-block-end: 80px;
}
.about__body > * {
	display: inline-block;
	vertical-align: middle;
}
.about__img:not(:last-child) {
	margin-inline-end: 110px;
}
.about__img img {
	width: 100%;
}

.text-block {
	max-width: 480px;
}
.text-block > * {
	margin-block-end: 20px;
}
.text-block > *:last-child {
	margin-block-end: 0px;
}
.text-block__label {
	color: #EF6D58;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.text-block__title {
	color: #391400;
	text-transform: capitalize;
	font-size: 56px;
	font-weight: 800;
	line-height: 1.1;
	letter-spacing: -1px;
}
.text-block__title--small {
	font-size: 40px;
}
.text-block__subtitle {
	color: #391400;
	font-size: 20px;
	line-height: 1.6;
}
.text-block__text {
	color: rgba(57, 20, 0, 0.64);
	line-height: 2;
	margin-block-end: 34px;
}
.text-block__link {
	color: #391400;
	line-height: 2;
	transition: all 0.3s;
}
.text-block__link:hover {
	text-decoration: underline;
}
.list-ul__item {
	color: rgba(57, 20, 0, 0.64);
	line-height: 2;
	padding-inline-start: 48px;
	background: url("../img/portfolio/features/check_icon.svg") 0 0 / 32px no-repeat;
}
.list-ul__item:not(:last-child) {
	margin-block-end: 16px;
}
.button {
	border-radius: 6px;
	background: #FFF;
	box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
	padding: 18px 5px;
	text-align: center;
	min-inline-size: 138px;
	color: #391400;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	transition: all 0.3s;
}
.button:hover {
	background-color: rgba(57, 20, 0, 0.64);
	color: #FFFFFF;
}


.achievements {
	padding-block-start: 80px;
	padding-block-end: 70px;
}
.achievements__inner {
	margin: 0 -1px -1px 0;
}
.achievements__body {
	border: 1px solid #F3D1BF;
	border-radius: 6px;
	font-size: 0;
	overflow: hidden;
}
.achievements__column {
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	/* width: calc(33.333% + 0.33px); */
	padding: 45px 45px 38px 48px;
	border-inline-end: 1px solid #F3D1BF;
	border-block-end: 1px solid #F3D1BF;
}

/* .achievements__column:nth-of-type(3n+3){
	margin-right: -1px;
}
.achievements__column:nth-last-child(-n+3) {
	margin-bottom: -1px;
} */
.achievements__column > * {
	margin-block-end: 13px;
}
.achievements__column > *:last-child {
	margin-block-end: 0px;
}
.achievements__quantity {
	color:  #391400;
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
}
.achievements__title {
	color: #391400;
	font-size: 20px;
	line-height: 1.6;
}



.how-we-work {
	padding-block-start: 70px;
	padding-block-end: 108px;
	border-block-end: 1px solid #F3D1BF;
}
.how-we-work__body > * {
	display: inline-block;
}
.how-we-work__text-block {
	max-width: 470px;
	vertical-align: top;
}
.how-we-work__text-block:not(:last-child) {
	margin-inline-end: 130px;
}
.list-ol {
	vertical-align: bottom;
	padding-block-start: 60px;
}
.item-ol-list > * {
	display: inline-block;
	vertical-align: middle;
}
.item-ol-list:not(:last-child) {
	margin-block-end: 32px;
}
.item-ol-list__number {
	color: #391400;
	font-size: 72px;
	font-weight: 800;
	line-height: 1.1;
	letter-spacing: -2px;
}
.item-ol-list__number:not(:last-child) {
	margin-inline-end: 65px;
}
.item-ol-list__definition {
	color: #391400;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
}
.portfolio__video {}
.video {
	padding-block-start: 127px;
	padding-block-end: 108px;
}
.video__body > * {
	display: inline-block;
	vertical-align: middle;
}
.video__media img {
	max-width: 570px;
	width: 100%;
}
.video__media:not(:last-child) {
	margin-inline-end: 110px;
}


.features {
	padding-block-start: 108px;
	padding-block-end: 101px;
}
.features__img img {
	width: 100%;
}
.features > * {
	display: inline-block;
	vertical-align: middle;
}
.features__text-block:not(:last-child) {
	margin-inline-end: 150px;
}


.extra-features {
	padding-block-start: 101px;
	padding-block-end: 106px;
}
.extra-features > * {
	display: inline-block;
	vertical-align: middle;
}
.extra-features__text-block:not(:last-child) {
	margin-inline-end: 120px;
	max-width: 370px;
}
.extra-features__cards {
	max-width: 670px;
	font-size: 0;
}
.extra-features__cards > * {
	display: inline-block;
	vertical-align: bottom;
}
.cards {
}
.cards__body {
	font-size: 0;
	border: 1px solid #F3D1BF;
	border-radius: 6px;
	overflow: hidden;
}
.cards__inner {
	margin: 0px -1px -1px 0px;
}
.cards__item {
	padding: 48px;
	display: inline-block;
	width: 33.333%;
	font-size: 16px;
	border-inline-end: 1px solid #F3D1BF;
	border-block-end: 1px solid #F3D1BF;
}
.extra-features__cards .cards__item {
	width: 50%;
}
.cards__item > * {
	margin-block-end: 30px;
}
.cards__item > *:last-child {
	margin-block-end: 0px;
}
.cards__item--highlighted {
	border-radius: 6px 6px 0px 6px;
	border: 1px solid #F3D1BF;
	background: #FFF;
	box-shadow: 0px 32px 64px 0px rgba(57, 20, 0, 0.04);
}
.cards__item--border {
	border-block-start: 1px solid #F3D1BF;;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.cards__icon {
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #EF6C57;
}
.cards__title {
	color: #391400;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3;
}
.cards__text {
	color: rgba(57, 20, 0, 0.64);
	line-height: 2;
}
.cards__link {
	color: #391400;
	line-height: 2;
	transition: all 0.3s;
}
.cards__link:hover {
	text-decoration: underline;
}
.portfolio__service {
	padding-block-start: 125px;
	padding-block-end: 120px;
}
.service > * {
	display: inline-block;
	vertical-align: middle;
}
.service__img img {
	width: 100%;
}
.service__img:not(:last-child) {
	margin-inline-end: 110px;
}
.service__text-block {
	max-width: 463px;
}
.text-block__quote {
	margin-block-end: 36px;
}
.quote > * {
	display: inline-block;
	vertical-align: top;
}
.quote__avatar {
	width: 64px;
	height: 64px;
	line-height: 64px;
	vertical-align: middle;
	background-color: #F7CB47;
	border-radius: 50%;
	text-align: center;
}
.quote__avatar:not(:last-child) {
	margin-inline-end: 20px;
}
.quote__info {
	max-width: 370px;
}
.quote__info > * {
	margin-block-end: 12px;
}
.quote__info > *:last-child {
	margin-block-end: 0px;
}
.quote__text {
	color: rgba(57, 20, 0, 0.64);
	font-size: 14px;
	line-height: 1.7;
}
.quote__author {
	color: #391400;
	line-height: 2;
}
.portfolio__service-extra {
	padding-block-start: 120px;
	padding-block-end: 128px;
}
.extra-service > * {
	margin-block-end: 35px;
}
.extra-service > *:last-child {
	margin-block-end: 0px;
}
.extra-service__text-block {}
.extra-service__cards {}


/* Стилі для footer */

.footer {
	background-color: #095D4D;
	padding-block: 20px;
	text-align: center;
}
.footer__item {
	color: #E3F5E0;
}
.footer__item a {
	color: #8bbfb5;
}
.footer__item a:hover {
	text-decoration: underline;
}