/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Sofia+Sans+Semi+Condensed:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");

/* Обнулення стилів */
@import url("reset.css");

/* Загальні стилі */
body {
	font-family: "Sofia Sans Semi Condensed", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	background-color: #D0CFD1;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}
[class*="__container"] {
	max-width: 1230px;
	width: 100%;
	padding-inline: 15px;
	margin-inline: auto;
}
.title {
	color: #463239;
	font-size: 34px;
	font-weight: 700;
	text-align: center;
}
.main__title {
	font-size: 44px;
}
.subtitle {
	font-size: 24px;
	font-weight: 700;
	color: #9A4F60;
	text-align: center;
}
.text {
	background-color: #94596775;
	padding: 10px;
}
.main__container {
	padding-block: 50px;
}
[class^="main__"]:not(:last-child) {
	margin-block-end: 20px;
}
.menu__sublist > *, .static-block > *, .types-positions > *, .relative-block > *, .absolute-block > *, .fixed-block > *, .sticky-block > *, .z-index > *, .practice-cases > *, .practice-cases__item > *, .hexagons > * {
	margin-block-end: 10px;
}
.menu__sublist > *:last-child, .static-block > *:last-child, .types-positions > *:last-child, .relative-block > *:last-child, .absolute-block > *:last-child, .fixed-block > *:last-child, .sticky-block > *:last-child, .z-index > *:last-child, .practice-cases > *:last-child, .practice-cases__item > *:last-child, .hexagons > *:last-child {
	margin-block-end: 0px;
}

/* Стилі для header */

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #baacbde6;
}
.header__menu {
	padding: 10px;
	font-size: 0;
}
.menu__item {
	position: relative;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	width: 16.667%;
	text-align: center;
}
.menu__sublist {
	position: absolute;
	top: 100%;
	padding: 10px;
	background-color: #baacbde6;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.menu__item a:hover, .menu__subitem a:hover {
	text-decoration: underline;
}
.menu__item:hover .menu__sublist {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

/* Стилі для блоку "Основні поняття" */

.general-positions > * {
	margin-block-end: 10px;
}
.general-positions > *:last-child {
	margin-block-end: 0px;
}
code {
	display: block;
}
.general-positions__code span, .practice-cases__code span {
	display: block;
	margin-inline-start: 20px;
}

/* Стилі для блоку "Типи позіціонування" */

.examples-position {
	text-align: center;
	font-size: 0;
}
.examples-position > * {
	margin-inline-end: 20px;
	font-size: 16px;
}
.examples-position > *:last-child {
	margin-inline-end: 0px;
}
.examples-position__item {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 3px solid #463239;
}
.examples-position__item--1 {
	background-color: #FAB3A9;
}
.examples-position__item--2 {
	background-color: #B48EAE;
}
.examples-position__item--3 {
	background-color: #ED6B86;
}

.relative-block__examples .examples-position__item--2 {
	position: relative;
	top: 10px;
	left: 40px;
}

.absolute-block__examples {
	position: relative;
}
.absolute-block__examples .examples-position__item--2 {
	position: absolute;
	top: 10px;
	left: 40px;
}

.fixed-block__examples .examples-position__item--2 {
	position: fixed;
	bottom: 0;
	right: 0;
}

.sticky-block__examples {
	height: 500px;
	background: url("../img/background_img.jpg") center / cover no-repeat;
	background-attachment: fixed;
}
.sticky-block__examples .examples-position__item--2 {
	position: sticky;
	top: 20px;
}

/* Стилі для блоку "z-index" */

.z-index__examples .examples-position__item--2 {
	position: relative;
	top: 20px;
	left: 50px;
}
.z-index__examples .examples-position__item--3 {
	position: relative;
	z-index: 5;
}

/* Стилі для блоку "Приклади використання" */

.practice-cases__item--absolute-centering {
	position: relative;
	width: 100%;
	height: 500px;
	padding: 10px;
	background-color: #b48eae6c;
}
.practice-cases__code--absolute-centering {
	position: absolute;
	top: calc(50% - 100px);
	left: calc(50% - 150px);
	width: 300px;
	height: 200px;
}

.sticky__letter {
	position: sticky;
	top: 47px;
	background-color: #9A4F60;
	padding: 10px;
	font-weight: 700;
	font-size: 28px;
}
.sticky__sublist > *, .sticky__list > *, .sticky__item > * {
	margin-block-end: 5px;
}
.sticky__sublist > *:last-child, .sticky__list > *:last-child, .sticky__item > *:last-child {
	margin-block-end: 0px;
} 

/* Стилі для блоку "Соти" */

.hexagons__items {
	position: relative;
	inline-size: 100%;
	min-block-size: 500px;
}
.hexagon {
	position: absolute;
	inline-size: 100px;
	block-size: 60px;
}
.hexagon:nth-child(odd) {
	background-color: #ee9700;
}
.hexagon:nth-child(even) {
	background-color: #d98400;
}
.hexagon::before,
.hexagon::after {
	content: "";
	position: absolute;
	inline-size: 0;
	border-inline-start: 50px solid transparent;
	border-inline-end: 50px solid transparent;
}
.hexagon::before {
	inset-block-end: 100%;
}
.hexagon:nth-child(odd)::before {
	border-block-end: 30px solid #ee9700;
}
.hexagon:nth-child(even)::before {
	border-block-end: 30px solid #d98400;
}
.hexagon::after {
	inset-block-start: 100%;
}
.hexagon:nth-child(odd)::after {
	border-block-start: 30px solid #ee9700;
}
.hexagon:nth-child(even)::after {
	border-block-start: 30px solid #d98400;
}
.hexagon--width-center {
	background: url("../img/bee_img.png") center / 100px no-repeat;
	inset-inline-start: calc(50% - 50px);
}
.hexagon--height-center {
	inset-block-start: calc(50% - 30px);
}
.hexagon--left-1 {
	inset-inline-start: calc(50% - 152px); /* від середньої соти вліво на всю ширину соти (100px) + 2px, як відступ */
}
.hexagon--left-2 {
	inset-inline-start: calc(50% - 254px); /* вліво від попередньої соти ще на всю ширину соти (100px) + 2px, як відступ. */
}
.hexagon--left-3 {
	inset-inline-start: calc(50% - 356px);
}
.hexagon--left-4 {
	inset-inline-start: calc(50% - 458px);
}
.hexagon--width-center {
	inset-inline-start: calc(50% - 50px);
}
.hexagon--right-1 {
	inset-inline-start: calc(50% + 52px); /* вправо від середньої соти на половину її ширини (100px) + 2px, як відступ. */
}
.hexagon--right-2 {
	inset-inline-start: calc(50% + 154px); /* вправо від попередньої соти на 102px. */
}
.hexagon--right-3 {
	inset-inline-start: calc(50% + 256px);
}
.hexagon--right-4 {
	inset-inline-start: calc(50% + 358px);
}
.hexagon--top {
	inset-block-start: calc(50% - 121px); /* підіймаємо соти вверх на 90px (вся висота соти) + 30px + 1px (відступ) */
}
.hexagon--left-5 {
	inset-inline-start: calc(50% - 101px); /* від середньої соти вліво на всю ширину соти (100px) + 1px, як відступ */
}
.hexagon--left-6 {
	inset-inline-start: calc(50% - 203px);
}
.hexagon--left-7 {
	background: url("../img/bee_img.png") center / 100px no-repeat;
	inset-inline-start: calc(50% - 305px);
}
.hexagon--left-8 {
	inset-inline-start: calc(50% - 407px);
}
.hexagon--left-9 {
	background: url("../img/bee_img.png") center / 100px no-repeat;
	inset-inline-start: calc(50% - 509px);
}
.hexagon--right-5 { /* вправо від середньої соти на 1px, як відступ. */
	inset-inline-start: calc(50% + 1px);
}
.hexagon--right-6 {
	inset-inline-start: calc(50% + 103px);
}
.hexagon--right-7 {
	background: url("../img/bee_img.png") center / 100px no-repeat;
	inset-inline-start: calc(50% + 205px);
}
.hexagon--right-8 {
	inset-inline-start: calc(50% + 307px);
}
.hexagon--right-9 {
	background: url("../img/bee_img.png") center / 100px no-repeat;
	inset-inline-start: calc(50% + 409px);
}
.hexagon--bottom { /* опускаємо соту вниз на 60px (половина висоти соти) + 1px (відступ) */
	inset-block-start: calc(50% + 61px);
}
.hexagon--top-1 {
	inset-block-start: calc(50% - 212px)
}
.hexagon--bottom-1 {
	inset-block-start: calc(50% + 152px)
}

/* Стилі для блоку "Домашня робота" */

.portfolio {
	font-family: "Epilogue", sans-serif;
	font-size: 16px;
}
.portfolio > * {
	margin-block-end: 20px;
}
.portfolio > *:last-child {
	margin-block-end: 0px;
}


/* Hero */

.hero-section, .personal-section, .latest-work {
	background-color: #28293E;
	padding: 20px;
}
.img-block {
	position: relative;
	max-width: 570px;
	width: 100%;
	aspect-ratio: 570/602;
	margin-inline: auto;
}
.img-block__item--circle {
	position: absolute;
	top: 16.61%;
	left: 17.5%;
	width: 64.912281%; /* 370/570 */
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #32334C;
}
.img-block__item--person {
	position: relative;
	top: 31.395349%; /* 189/602 */
	left: 56.84%; /*324/570*/
	width: 43.157895%; /* 246/570 */
	height: 53.508772%; /* 305/570 */
	border-radius: 50% 50% 6px 6px / 41% 41% 6px 6px;
	background-color: #F7CC47;
	overflow: hidden;
}
.img-block__item--person img {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 88.196721%; /* 269/305 */
	border-radius: 8px;
}
.img-block__item--laptop {
	position: absolute;
	top: 0;
	left: 0;
	width: 43.157895%; /* 246/570 */
	height: 53.508772%; /* 305/570 */
	border-radius: 50% 50% 6px 6px / 41% 41% 6px 6px;
	background-color: #B550F8;
}
.img-block__item--laptop img {
	position: absolute;
	bottom: 6.04%;
	left: 8.23%;
	width: 100%;
	height: auto;
}
.img-block__item--card {
	position: absolute;
	top: 71.60%; /*431/602*/
	left: 9.82%; /*56/570*/
	width: 37.54386%; /* 214/570 */
	height: 19.649123%; /* 112/570 */
}
.img-block__item--card img {
	width: 100%;
	height: auto;
}
.img-block__item--arrow {
	position: absolute;
	top: 91.20%; /*549/602*/
	left: 55.09%; /*314/570*/
	width: 14.385965%; /* 82/570 */
	height: 8.77193%; /* 50/570 */
}
.img-block__item--arrow img {
	width: 100%;
	height: auto;
}
.img-block__item--brain {
	position: absolute;
	top: 13.29%; /*80/602*/
	left: 80.35%; /*458/570*/
	width: 19.649123%; /* 112/570 */
	height: 14.385965%; /* 82/570 */
}
.img-block__item--brain img {
	width: 100%;
	height: auto;
}
.img-block__item--icon {
	position: absolute;
	top: 6.644518%; /* 40/602 */
	left: 53.333333%; /* 304/570 */
	width: 19.649123%; /* 112/570 */
	aspect-ratio: 1;
	background-color: #EF6D58;
	border-radius: 50%;
}
.img-block__item--icon img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
}
.img-block__item--wavy-arrow {
	position: absolute;
	top: 56.64%; /*341/602*/
	left: 0;
	max-width: 24.912281%; /* 142/570 */
	height: 12.807018%; /* 73/570 */
}
.img-block__item--wavy-arrow img {
	width: 100%;
	height: auto;
}

/* Personal */

.img-personal {
	position: relative;
	max-width: 570px;
	width: 100%;
	aspect-ratio: 570/555;
	margin-inline: auto;
}
.img-personal__item--circle {
	position: absolute;
	bottom: 0;
	left: 15.61%; /*89/570*/
	width: 71.578947%; /* 408/570 */
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #32334C;
}
.img-personal__item--person {
	position: relative;
	top: 13.513514%; /* 75/555 */
	left: 44.385965%; /* 253/570 */
	background-color: #F7CC47;
	width: 55.438596%; /* 316/570 */
	height: 68.77193%; /* 392/570 */
	border-radius: 50% 50% 8px 8px;
	z-index: 2;
}
.img-personal__item--person img {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 91.581633%; /* 359/392 */
	border-radius: 8px;
}
.img-personal__item--card {
	position: absolute;
	top: 50%; /*277.5/555*/
	left: 0;
	z-index: 2;
	width: 48.245614%; /* 275/570 */
	height: 25.263158%; /* 144/570 */
}
.img-personal__item--card img {
	width: 100%;
	height: auto;
	border-radius: 8px;
}
.img-personal__item--pen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 32.982456%; /* 188/570 */
	aspect-ratio: 1;
	background: url("../img/portfolio/personal_section/star_bg.svg") 0 0 / contain no-repeat;
}
.img-personal__item--pen img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25.531915%; /* 48/188 */
	height: 25.531915%; /* 48/188 */
}
.img-personal__item--arrow {
	position: absolute;
	top: 20%; /* 111/555 */
	left: 20.175439%; /* 115/570 */
	z-index: 0;
	width: 26.315789%; /* 150/570 */
	height: 10.877193%; /* 62/570 */
}
.img-personal__item--arrow img {
	width: 100%;
	height: auto;
}
.img-personal__item--arrow-2 {
	position: absolute;
	top: 83.6%; /*464/555*/
	left: 29.82%; /*170/570*/
	width: 18.421053%; /* 105/570 */
	height: 11.052632%; /* 63/570 */
}
.img-personal__item--arrow-2 img {
	width: 100%;
	height: auto;
}

/* About */

.about-section, .features-section, .service-section {
	background-color: #FDF0E9;
	padding: 20px;
}
.img-about {
	position: relative;
	max-width: 566px;
	width: 100%;
	aspect-ratio: 566/585;
	margin-inline: auto;
}
.img-about__item--main-image {
	position: absolute;
	top: 26.50%; /*155/585*/
	left: 16.96%; /*96/566*/
	width: 83.038869%; /* 470/566 */
	height: 56.360424%; /* 319/566 */
	z-index: 2;
}
.img-about__item--main-image img {
	width: 100%;
	height: auto;
	border-radius: 6px;
}
.img-about__item--avatar {
	position: relative;
	top: 62.56%;  /*366/585*/
	left: 0;
	z-index: 3;
	width: 38.69258%; /* 219/566 */
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #EF6D58;
	overflow: hidden;
}
.img-about__item--avatar img {
	width: 73.059361%; /* 160/219 */
	height: 89.041096%; /* 195/219 */
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.img-about__item--cloud {
	position: absolute;
	top: 12.99%;  /*76/585*/
	left: 2.83%; /*16/566*/
	width: 34.09894%; /* 193/566 */
	height: 29.328622%; /* 166/566 */
	z-index: 1;
}
.img-about__item--cloud img {
	width: 100%;
	height: auto;
}
.img-about__item--square {
	position: absolute;
	top: 2.56%;  /*15/585*/
	left: 12.01%; /*68/566*/
	z-index: 0;
	width: 67.844523%; /* 384/566 */
	height: 56.360424%; /* 319/566 */
	border-radius: 6px;
	background: #F9E5DA;
}
.img-about__item--arrow {
	position: absolute;
	top: 0;
	left: 63.60%; /*360/566*/
	width: 34.09894%; /* 193/566 */
	height: 15.724382%; /* 89/566 */
}
.img-about__item--arrow img {
	width: 100%;
	height: auto;
}
.img-about__item--card {
	position: absolute;
	top: 9.06%;  /*53/585*/
	left: 51.94%; /*294/566*/
	width: 38.162544%; /* 216/566 */
	height: 12.014134%; /* 68/566 */
}
.img-about__item--card img {
	width: 100%;
	height: auto;
}

/* Features */

.img-features {
	position: relative;
	max-width: 529px;
	width: 100%;
	aspect-ratio: 529/551;
	margin-inline: auto;
}
.img-features__item--main-image {
	position: absolute;
	top: 29.76%;  /*164/551*/
	left: 11.15%; /*59/529*/
	width: 88.846881%; /* 470/529 */
	height: 60.302457%; /* 319/529 */
	z-index: 5;
}
.img-features__item--main-image img {
	width: 100%;
	height: auto;
	border-radius: 6px;
}
.img-features__item--avatar {
	position: absolute;
	top: 4.36%;  /*24/551*/
	left: 18.903592%; /* 100/529 */
	width: 34.782609%; /* 184/529 */
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #B550F8;
	z-index: 6;
	overflow: hidden;
}
.img-features__item--avatar img {
	width: 61.413043%; /* 113/184 */
	height: 91.847826%; /* 169/184 */
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.img-features__item--cloud {
	position: absolute;
	top: 65.52%;  /*361/551*/
	left: 3.21%; /*17/529*/
	width: 40.642722%; /* 215/529 */
	height: 24.574669%; /* 130/529 */
	z-index: 0;
}
.img-features__item--cloud img {
	width: 100%;
	height: auto;
}
.img-features__item--arrow {
	position: absolute;
	top: 14.88%;  /*82/551*/
	left: 44.42%; /*235/529*/
	width: 49.338374%; /* 261/529 */
	height: 22.306238%; /* 118/529 */
	z-index: 2;
}
.img-features__item--arrow img {
	width: 100%;
	height: auto;
}
.img-features__item--rectangle-1 {
	position: absolute;
	top: 26.86%; /*148/551*/
	left: 0;
	width: 84.499055%; /* 447/529 */
	height: 27.977316%; /* 148/529 */
	transform: rotate(-32deg);
	border-radius: 6px;
	background: #F9E5DA;
	z-index: 0;
}
.img-features__item--rectangle-2 {
	position: absolute;
	top: 55.89%; /*308/551*/
	left: 28.36%; /*150/529*/
	width: 59.73535%; /* 316/529 */
	height: 34.215501%; /* 181/529 */
	transform: rotate(21deg);
	border-radius: 6px;
	background: #F7CC47;
}

/* Service */

.img-service {
	position: relative;
	max-width: 580px;
	width: 100%;
	aspect-ratio: 580/570;
	margin-inline: auto;
}
.img-service__item--person {
	position: absolute;
	top: 8.947368%; /* 51/570 */
	left: 7.068966%; /* 41/580 */
	width: 42.413793%; /* 246/580 */
	height: 52.586207%; /* 305/580 */
	border-radius: 50% 50% 6px 6px / 41% 41% 6px 6px;
	background-color: #B550F8;
	z-index: 5;
	overflow: hidden;
}
.img-service__item--person img{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 78.455285%; /* 193/246px */
	aspect-ratio: 193/274;
}
.img-service__item--avatar {
	position: absolute;
	z-index: 2;
	top: 62.982456%; /* 359/570 */
	left: 48.62069%; /* 282/580 */
	width: 37.017544%; /* 211/570 */
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: #EF6C57;
	overflow: hidden;
}
.img-service__item--avatar img {
	width: 90.995261%; /* 192/211 */
	aspect-ratio: 1;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
.img-service__item--triangle {
	position: absolute;
	top: 1.05%; /*6/570*/
	left: 1.03%; /*6/580*/
	width: 98.275862%; /* 570/580 */
	height: 80%; /* 464/580 */
}
.img-service__item--triangle img {
	width: 100%;
	height: auto;
}
.img-service__item--card {
	position: absolute;
	top: 23.333333%; /* 133/570 */
	left: 60.689655%; /* 352/580 */
	width: 28.62069%; /* 166/580 */
	height: 24.482759%; /* 142/580 */
	overflow: hidden;
	z-index: 1;
}
.img-service__item--card img {
	width: 100%;
	height: auto;
}
.img-service__item--sun {
	position: absolute;
	top: 13.157895%; /* 75/570 */
	left: 73.275862%; /* 425/580 */
	width: 25.517241%; /* 148/580 */
	aspect-ratio: 1;
	z-index: 0;
}
.img-service__item--sun img {
	width: 100%;
	height: auto;
}
.img-service__item--arrow-1 {
	position: absolute;
	top: 54.561404%; /* 311/570 */
	left: 27.241379%; /* 158/580 */
	height: 36.37931%; /* 211/580 */
	width: 8.793103%; /* 51/580 */
	z-index: 0;
}
.img-service__item--arrow-1 img {
	width: 100%;
	height: auto;
}
.img-service__item--arrow-2 {
	position: absolute;
	top: 42.982456%; /* 245/570 */
	left: 77.931034%; /* 452/580 */
	width: 28.965517%; /* 168/580 */
	height: 15%; /* 87/580 */
	z-index: 0;
}
.img-service__item--arrow-2 img {
	width: 77%;
	height: auto;
}

/* Latest work */

.latest-work__items {
	font-size: 0;
	margin-inline: -15px;
	border: 1px solid #3A3C56;
	overflow: hidden;
}
.latest-work__inner {
	margin: 0px -1px -1px 0px;
}
.latest-work__item {
	width: 33.333%;
	padding: 15px;
	vertical-align: top;
	border-inline-end: 1px solid #3A3C56;
	border-block-end: 1px solid #3A3C56;
	font-size: 18px;
}
.latest-work__content {
	position: relative;
}
.latest-work__content::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3181;
	background-color: #5C2000;
	transition: all 0.3s;
}
.latest-work__content:hover::before {
	opacity: 0.2;
}
.latest-work__content img {
	max-width: 100%;
}
.latest-work__overlay {
	position: absolute;
	bottom: 8.854167%; /* 51/576 */
	left: 10.714286%; /* 48/448 */
	right: 10.714286%; /* 48/448 */
}
.latest-work__overlay > * {
	margin-block-end: 24px;
}
.latest-work__overlay > *:last-child {
	margin-block-end: 0px;
}
.latest-work__label {
	display: inline-block;
	color: #391400;
	line-height: 2;
	padding: 5px 16px;
	border-radius: 19px;
	background-color: #FFF;
	text-align: center;
	transition: all 0.3s;
}
.latest-work__label:hover {
	background-color: #5C2000;
	color: #FFFFFF;
}
.latest-work__title {
	color: #FFF;
	font-size: 40px;
	font-weight: 800;
	line-height: 1.2;
	text-transform: capitalize;
	transition: all 0.3s;
}
.latest-work__title:hover {
	text-shadow: 0px 0px 5px #5C2000;
	text-decoration: underline;
}
.latest-work__title--uppercase {
	text-transform: uppercase;
}

/* Стилі для footer */

.footer {
	background-color: #9A4F60;
	padding: 20px;
}
.footer__copy {
	text-align: center;
	font-weight: 700;
	font-size: 25px;
	color: #FFFFFF;
}